<section class="project-bar">
  <swiper-container class="mySwiper" effect="coverflow"
  centered-slides="true"  coverflow-effect-rotate="0"
  coverflow-effect-depth="100" 
  coverflow-effect-modifier="3" coverflow-effect-slide-shadows="true"  init="false" >
  <swiper-slide *ngFor="let card of projects">
    <app-card-project [title]="card.title" [image]="card.sections[0].imageURL"  [id]="card.project_id"></app-card-project>
  </swiper-slide>
</swiper-container>
<button><a routerLink="/projects">See all projects</a></button>
</section>