@import "./variables.scss";
*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background: $grey-700;
    overflow-x: hidden;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}
