@import "../../variables.scss";

.technologies-container{
    margin: 0 auto;
    width: 95%;
    height: 700px;
    span{
        display: block; /* ou inline-block */
        width: 100%;
        box-sizing: border-box;
        font-size: 12vw;
        font-weight: 900;
        color: $grey-500;
        position: relative;
        top: 7rem;
        z-index: 0;
    }
    img {
        position: absolute;
        width: 100%;
        height: 700px;
        left: -10px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        z-index: 1;
        filter: drop-shadow(0 0 0.35rem rgb(53, 53, 53));
    }

    .technologies-bar{
        font-size: xx-large;
        position: relative;
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        align-items: start;
        z-index: 2;
        top: 12rem;

        h3{
            font-size: 5vw;
        }

        .technologies-list{

            padding: 2rem;
            /* From https://css.glass */
            background: rgba(255, 255, 255, 0.05);
            border-radius: 16px;
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(8.1px);
            -webkit-backdrop-filter: blur(8.1px);
            border: 1px solid rgba(255, 255, 255, 0.14);
            font-size: 3vw;
            height: 40vh;

            ul{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                gap: 10px;

                li {
                    i{
                        font-size: 25px;
                    }
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap:2rem
                }
            }
        }
    }
}

@media (max-width: 430px) {
    .technologies-container {
        width: max-content;
        img{
            display: none;
        }
        .technologies-bar{
            flex-direction: column;
            width: 100%;
            align-items: center;
            justify-content: center;
            height: min-content;
            gap: 20px;
            
            .technologies-list {
                width: 100%;
                height: min-content;
                color: white;
                ul{
                    margin-top: 20px;
                    display: flex;
                    gap: 10px ;
                    li{
                        color: white;
                    }

                }
            }
        }
    }
}

@media (min-width: 762px) {
    .technologies-container{
        img{
            height: auto;
        }

        .technologies-bar{
            top:10rem;
            .technologies-list{
                height: max-content;
            }
        }
    }


}