<section class="technologies-container">
    <img src="../../assets/images/jpg/me-background.png" alt="A man with smok">
    <span>TECHNOLOGIES</span>
    <div class="technologies-bar">
        <div class="technologies-list">
            <h3>Back-End</h3>
                <ul>
                    <li><i class="devicon-nodejs-plain"></i>NodeJs</li>
                    <li><i class="devicon-nestjs-original"></i>NestJs</li>
                    <li><i class="devicon-java-plain"></i>Java</li>
                    <li><i class="devicon-python-plain"></i>Python</li>
                </ul>
        </div>
        <div class="technologies-list">
            <h3>Front-End</h3>
            <ul>
                <li><i class="devicon-react-plain"></i>React Functional</li>
                <li><i class="devicon-angular-plain"></i>Angular</li>
                <li><i class="devicon-nextjs-plain"></i>NextJs</li>
            </ul>
        </div>
    </div>
</section>