<header>
  <nav>
    <div class="logo">
      <a href="#"><img src="../../../assets/images/png/ALLAN_VARGENS-removebg-preview.png" alt="logo" style="width: 30px; height: 30px;"></a>
      <p>|</p>
      <span>Portfolio</span>
    </div>
    <div class="hamburger" (click)="toggleMenu()">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
    <ul [class.active]="menuActive">
      <li><a href="#">About</a></li>
      <li><a href="#">Projects</a></li>
      <li><a href="#">Technologies</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </nav>
</header>