
<section class="header-container">
    <div class="user-section">
        <img ngSrc="/assets/images/png/user-icon.png"
            width="230" height="230" alt="">
        <div class="name">
            <span></span>
            <h1>ALLAN VARGENS</h1>
            <span></span>
        </div>
    </div>
    <div class="about-me">
        <div
        class="title-img" ></div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sit amet tellus elementum, posuere lectus blandit, consequat justo. Sed eget arcu sagittis, ullamcorper turpis at, tristique justo.</p>
        <div class="icons">
            <a href="mailto:allanvargens@gmail.com"><fa-icon [icon]="faEnvelope" size="2x" ></fa-icon></a>
            <a href="tel:5573998647536"><fa-icon [icon]="faPhone" size="2x" ></fa-icon></a>
            <a href="https://www.linkedin.com/in/allan-vargens-silva-973978196/"><fa-icon [icon]="faLinkedin" size="2x" ></fa-icon></a>
        </div>

    </div>
</section>
